<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Htbernate Configuration DTD//EN"
        "http://www.hibernate.Org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQL95Dialect</property>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.username">xallqvkrezbfkh</property>
        <property name="hibernate.connection.password">2afb9e7ebdb2c2ddaada878ee6e6db773497e8fda4096a6dd71e59e19c4cb1b1</property>
        <property name="hibernate.connection.url">jdbc:postgresql://ec2-44-207-133-100.compute-1.amazonaws.com/d9fblvo32d3uuj</property>
        <property name="hibernate.hbm2ddl.auto">validate</property>

        <mapping class="com.model.Invoice"/>
        <mapping class="com.model.Auto"/>
        <mapping class="com.model.BusinessAuto"/>
        <mapping class="com.model.SportAuto"/>
        <mapping class="com.model.Vehicle"/>
        <mapping class="com.model.Engine"/>

    </session-factory>
</hibernate-configuration>